@font-face {
    font-family: textFont;
    src        : url(/assets/fonts/HelveticaNeue-Light.otf);
}

@font-face {
    font-family: btnFont;
    src        : url(/assets/fonts/helvetica-neue-bold.ttf);
}

@font-face {
    font-family: otherFont;
    src        : url(/assets/fonts/HelveticaNeue-Thin.otf);
}